# Project exclude paths
/.idea/
/local.properties
/.gradle/
/app/build/
/app/release/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
/TesSure_Checklist_Review.xlsx
/tools/export_checklists.py
